  <div class="col-6 col-sm-4 col-md-3 py-2 text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> 
        <%= project.title %>
        <span class="mx-2"> <%= link_to icon('fa-solid', 'pen-to-square'), edit_project_path(project) %> </span>
        </h5>
      <div class="card-text mb-2">
        <div> <%= project.description%> </div>
        <div> <strong>Department: </strong><%= project.department%> </div>
      </div>
      
      <%= link_to("Show this project", project, class: "btn btn-primary")%>
      </div>
    </div>
  </div>
