<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @project.department %>
</p>

<div>
    <div class="container-fluid ">
  <h2> Cards </h2>
      <div class="backlog-cards">
        <h3>Backlog</h3>
        <div class="row">
          <% @cards.backlog.each do |card| %>
            <%= render "cards/card", card: card %>
          <% end %>
        </div>
      </div>

      <div class="ready-cards">
        <h3>Ready</h3>
        <div class="row">
          <% @cards.ready.each do |card| %>
            <%= render "cards/card", card: card %>
          <% end %>
        </div>
      </div>

      <div class="in_progress-cards">
        <h3>In Progress</h3>
        <div class="row">
          <% @cards.in_progress.each do |card| %>
            <%= render "cards/card", card: card %>
          <% end %>
        </div>
      </div>

      <div class="complete-cards">
        <h3>Complete</h3>
        <div class="row">
          <% @cards.completed.each do |card| %>
            <%= render "cards/card", card: card %>
          <% end %>
        </div>
      </div>


    </div>
  </div>

<div>
  <%= link_to "New Card", new_project_card_path(@project) %> |
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
