<%= form_with(model: [project, card], local: true) do |form| %>
  <% if @card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control"  %>
  </div>

  <div class="mb-2">
    <%= form.label :status, class: "form-label"  %>
    <%= form.select :status, Card.valid_status, {}, class: "form-select" %>
  </div>

  <div class="mb-2">
    <%= form.label :user_ids, "Users", class: "form-label"  %>
    <%= form.select :user_ids, @users.map { |u| [u.username, u.id] }, { multiple: true }, class: "form-select" %>
  </div>

  <div class="mb-2">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
