<%= form_with(model: [project, card], local: true) do |form| %>
  <% if @card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Card.valid_status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
